.posts_list {
    list-style: none;

    li {
        padding: 20px 0;
    }

    li:not(:last-child) {
        border-bottom: 1px solid lightgrey;
    }
}

.my_input {
    max-width: 220px;
}

.alert.my_alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    margin-right: 10px;
}